/* variable color */
$gridComp: antiquewhite;
$h3text: #000;

.link-item {
  border: 10px;
  background-color: $gridComp;
  border-radius: 30px;
  padding: 60px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  a {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
    font-size: 1.6rem;
    text-decoration: underline;
  }
  h3 {
    color: $h3text;
    align-items: center;
    font-size: 1.6em;
  }
}
