/* variable color */
$backGround: peru;
$textColor: #fff;

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap");

/* body */
.body {
  background: $backGround;
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  h1 {
    color: $textColor;
    font-family: "Oswald", sans-serif;
  }
}
